{% extends "base.html" %}

{% load static %}
{% load django_bootstrap5 %}

{% block title %}
  Содержимое корзины пользователя {{ user.username }}
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h3>Корзина:</h3>
  </div>
  <div class="container col-md-9">
    <div class="row">
      {% if cart.product.all %}
        {% for product in cart.product.all %}
          <div class="card col-md-3 my-3 p-2">
            {% if product.image %}
              <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}" width="120" height="200">
            {% else %}
              <img class="card-img-top" src="{% static 'images/no_img.png' %}" alt="{{ product.title }}" width="120" height="200">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">{{ product.description|truncatewords:8 }}</p>
              <p class="card-price">Цена: {{ product.price }} руб.</p>
              <a href="{% url 'main:product_detail' product.category.slug product.product_type.slug product.pk %}" class="btn btn-primary">
                Смотреть
              </a>
              <img src="{% static 'images/add_favorites.png' %}" width="30" height="30">
            </div>
          </div>
        {% endfor %}
        <hr>
        <h1>Сумма корзины: {{ cart_price|floatformat:2 }}</h1>
        {% bootstrap_button button_type="submit" content="Купить" %}
      {% else %}
        <h3 class="mt-5">Ваша корзина пуста!</h3>
      {% endif %}
    </div>
  </div>
{% endblock %}