{% extends "base.html" %}

{% load static %}

{% block title %}
  Удаление категории - {{ object.title }} / {{ object.slug }}.
{% endblock %}

{% load django_bootstrap5 %}

{% block content %}
  <div class="d-flex justify-content-center m-5">
    <div class="card col-4 m-4">
      <div class="card-header">
        Удаление категории - {{ object.title }} / {{ object.slug }}
      </div>
      <div class="card-body">
        {% if category.image %}
          <img class="card-img-top" src="{{ category.image.url }}" alt="{{ category.title }}" width="120" height="200">
        {% else %}
          <img class="card-img-top" src="{% static 'images/no_img.png' %}" alt="{{ category.title }}" width="120" height="200">
        {% endif %}
        <hr>
        <p>Название: {{ object.title }}</p>
        <hr>
        <p>Идентификатор: {{ object.slug }}</p>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_button button_type="submit" content="Удалить" %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}