{% extends "base.html" %}

{% block title %}
  Инструмент. Страница о нас
{% endblock %}

{% block content %}
  <div class="container m-5">
    <h3>Страница о нас</h3>
    <p class="m-3">
      В нашем магазине “Инструмент” вы можете подержать в руках и детально изучить
      понравившуюся модель инструмента, получить консультацию специалиста о тонкостях
      выбора электроинструмента, ручного инструмента, оснастки или системы хранения для
      конкретной задачи.<br>
      <br>Мы предлагаем вам ассортиментый ряд инструментов, необходимых для
      всех этапов работ любых масштабов. Наш магазин ждет вас!<br>
      <br>  График работы: пн-пт
      9:00-19:00 сб-вс 10:00-17:00
    </p>
  </div>
{% endblock %}