{% extends "base.html" %}

{% block title %}
  Инструмент. Страница покупателям
{% endblock %}

{% block content %}
  <div class="container m-5">
    <h3>Способы оплаты</h3>
    <p class="m-3">
      Оплата товара производится только в магазине
      В нашем магазине товар можно оплатить двумя способами:
    </p>
    <ul>
      <li>Наличными</li>
      <li>Банковской картой</li>
    </ul>
    <p class="m-3">Доставка товара на дом отсутствует</p>
    <hr>
    <h3>Возврат товара</h3>
    <p class="m-3">
      До передачи товара покупателю отказаться от покупки можно в любой момент,
      а после передачи — в течение 60 дней. Для осуществления возврата полученного товара необходимо будет
      соблюсти ряд условий.Возвращаемый товар должен быть представлен:
    </p>
    <ol>
      <li>В полной комплектации</li>
      <li>
        Без следов использования/установки и любых типов повреждений,
        с сохранением товарного вида и потребительских качеств
      </li>
      <li>В неповреждённой оригинальной упаковке</li>
      <li>С сохранением всех видов маркировки и защиты, пломб, фабричных ярлыков</li>
      <li>
        С оригиналами документов, подтверждающих покупку товара
        (кассовый и товарный чеки, гарантийный талон)
      </li>
      <li>
        С заявлением от имени покупателя, в котором, в том числе,
        указывается наименование товара, причина возврата, количество
        и общая стоимость возвращаемой продукции.
      </li>
    </ol>
  </div>
{% endblock %}