{% load django_bootstrap5 %}

{% if user.is_authenticated%}
  <h4>Написать комментарий:</h4>
  <form
    method="post"
    enctype="multiparty/form-data"
    action="{% url 'main:comment_add' product.category.slug product.product_type.slug product.pk %}"
  >
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Отправить" %}
  </form>
{% else %}
  <p>Чтобы оставлять комментарии к записи <a href="{% url 'login' %}">авторизируйтесь</a></p>
{% endif %}
<br>
<h2>Комментарии к продукту:</h2>
{% if comments %}
  <div class="mt-5">
    {% for comment in comments %}
      <h3><a href="{% url 'main:profile_detail' comment.author.username %}">@{{ comment.author }}</a></h3>
      <p>{{ comment.text }}</p>
      <p>{{ comment.created_at }}</p>
      {% if user.is_authenticated %}
        <a
          href="{% url 'main:comment_edit' product.category.slug product.product_type.slug product.id comment.id %}">
          Отредактировать комментарий
        </a>
        <a
          href="{% url 'main:comment_delete' product.category.slug product.product_type.slug product.id comment.id %}">
          Удалить комментарий
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}