<footer class="mt-4 py-3 border-top footer text-bg-dark footer" style="top: 100%;">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="{% url 'main:index' %}" class="nav-link px-2 text-white">Главная</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'pages:about' %}" class="nav-link px-2 text-white">О нас</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'pages:buyers' %}" class="nav-link px-2 text-white">Покупателям</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'pages:contacts' %}" class="nav-link px-2 text-white">Контакты</a>
    </li>
  </ul>
  <p class="text-center text-white">© 2023 ИНСТРУМЕНТ. Все права защищены.</p>
</footer>